{{loginModel | json}}
<section class="login">
        <form #f="ngForm" (ngSubmit)="loginFunc()" >
            <fieldset>
                <legend>Login</legend>
                <p class="field">
                    <label for="username">Username</label>
                    <span class="input">
                        <input type="text" name="username" id="username" placeholder="Username" class="form-control" required [(ngModel)]="loginModel.username"/>
                        <span class="actions"></span>
                        <i class="fas fa-user"></i>
                    </span>
                </p>
                <p class="field">
                    <label for="password">Password</label>
                    <span class="input">
                        <input type="password" name="password" id="password" placeholder="Password" class="form-control" required [(ngModel)]="loginModel.password" />
                        <span class="actions"></span>
                        <i class="fas fa-key"></i>
                    </span>
                </p>
                <input class="button" type="submit" class="submit" value="Login" [disabled]="f.invalid" />
            </fieldset>
        </form>
    </section>