<header id="site-header">
    <nav class="navbar">

        <section *ngIf="isAuth" class="navbar-dashboard">
            <div class="first-bar">
                <a href="#/dashboard">Dashboard</a>
                <a class="button" href="#/myPets">My Pets</a>
                <a class="button"  routerLink="/add">Add Pet</a>
            </div>
            <div class="second-bar">
                <ul>
                    <li *ngIf="username">Welcome, {{ username }}!</li>
                    <li><a (click)="logoutFunc()" href=""><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                </ul>
            </div>
        </section>

        <section *ngIf="!isAuth" class="navbar-anonymous">
            <ul>
                <li><a routerLink="/register"><i class="fas fa-user-plus"></i> Register</a></li>
                <li><a routerLink="/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
            </ul>
        </section>

    </nav>
</header>